@use '../../colors' as*;

.cart {
  width: 320px;
  height: 246px;
  background: $white-color;
  box-shadow: 0px 2px 14px 0px $shadow-color;
  display: flex;
  flex-direction: column;

  &__title {
    border-radius: 5px 5px 0px 0px;
    opacity: 0px;
    height: 71px;
    display: flex;
    align-items: center;
    padding-left: 1.7rem;

    color: $text-secondary-color;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
    letter-spacing: 0.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  &__content {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: $text-secondary-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    &__container_card_item {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      &__description_title {
        display: flex;
        width: 288px;
        justify-content: space-between;

        &__title {
          color: $text-main-color;
          font-size: 16px;
          font-weight: 400;
          line-height: 18.75px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          margin-top: 0.5rem;
        }

        &__price {
          color: $text-main-color;
          font-size: 16px;
          font-weight: 500;
          line-height: 18.75px;
          letter-spacing: 0.5px;
          text-align: right;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }
      }

      &__description {
        color: $description-gray-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 18.75px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }

      &__actions {
        width: 94px;
        height: 36px;
        display: flex;
        align-items: center;
        gap: 14px;

        &__button_minus {
          all: unset;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: $brown-border-color;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
        }

        &__qtd {
          color: $text-main-color;
          font-size: 16px;
          font-weight: 700;
          line-height: 18.75px;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }

        &__button_plus {
          all: unset;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: $brown-border-color;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
        }
      }
    }
  }

  &__container_total {
    height: 117px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__content_subtotal {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: $background-white-gray-color;
      border: 1px solid rgba(0, 0, 0, 0.15);

      &__subtotal {
        width: 288px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
          color: $text-main-color;
          font-size: 16px;
          font-weight: 400;
          line-height: 18.75px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }

        p {
          color: $text-main-color;
          font-size: 16px;
          font-weight: 500;
          line-height: 18.75px;
          text-align: right;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }
      }
    }

    &__content_total {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.15);

      &__total {
        width: 288px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
          color: $text-main-color;
          font-size: 24px;
          font-weight: 300;
          line-height: 28.64px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }

        p {
          color: $text-main-color;
          font-weight: 500;
          font-size: 24px;
          line-height: 28.13px;
          text-align: right;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }
      }
    }
  }
}
