@use '../../colors' as *;

.menu {
  height: 52px;
  background: $brown-border-color;
  display: flex;
  align-items: center;
  justify-content: center;

  &__button {
    all: unset; 
    background: transparent; 
    border: none; 
    padding: 0; 
    font: inherit; 
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.44px;
    height: 52px;
    color:$white-color;
    width: 292px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    &.--active{
      border-bottom: 5px solid $white-color;
    }
  }

}
