.hero {
  width: 100%;
  height: 202px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__logo {
    position: absolute;
    width: 250px;
    height: auto;
    opacity: 0px;
  }

  &__blur {
    background: linear-gradient(
      90deg,
      #36231c 18.92%,
      rgba(54, 35, 28, 0) 50.56%,
      #36231c 80.88%
    );
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__image {
    width: 1200px; /* Largura definida */
    height: 100%; /* Altura de 100% (dependendo do contexto do elemento pai) */
    background-image: url("../../assets/hero.jpg"); /* Imagem de fundo */
    background-size: cover; /* A imagem será redimensionada para caber no elemento sem cortar */
    background-position: center -280px; /* A imagem será centralizada */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
  }
}
