@use '../../colors' as *;

.modal_container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__modal {
    width: 480px;
    height: auto;
    background: $white-color;

    &__container_img {
      width: 100%;
      height: 320px;
      position: relative;

      &__container_close {
        position: absolute;
        right: 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 64px;

        &__close {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background: $white-color;
        }
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__container_title {
      width: 100%;
      height: 106px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__title {
        width: 448px;
        min-height: 74px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        overflow: hidden;
        text-overflow: ellipsis;

        h1 {
          color: $text-main-color;
          font-size: 24px;
          font-weight: 700;
          line-height: 28.13px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }

        p {
          color: $text-secondary-color;
          font-size: 16px;
          font-weight: 400;
          line-height: 18.75px;
          letter-spacing: 0.5px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }
      }
    }

    &__container_title_options {
      height: 68px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $background-white-gray-color;

      h1 {
        color: $text-secondary-color;
        font-size: 16px;
        font-weight: 700;
        line-height: 18.75px;
        letter-spacing: 0.5px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-left: 16px;
      }

      p {
        color: $description-gray-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 18.75px;
        letter-spacing: 0.5px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-left: 16px;
      }
    }

    &__container_meet {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 72px;

      &__meet {
        width: 432px;
        height: 40px;
        display: flex;
        justify-content: space-between;

        h1 {
          color: $text-main-color;
          font-size: 16px;
          font-weight: 500;
          line-height: 18.75px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          margin-bottom: 4px;
        }

        p {
          color: $text-secondary-color;
          font-size: 16px;
          font-weight: 400;
          line-height: 18.75px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }
      }
    }

    &__container_actions {
      width: 100%;
      height: 122px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;

      &__actions {
        width: 143px;
        height: 32px; 
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__error {
          color: $error-color;
        }

        &__button_minus {
          all: unset;
          width: 32px;
          height: 32px;
          border-radius: 50px;
          background-color: $icon-white-color;
          text-align: center;
        }

        &__button_plus {
          all: unset;
          width: 32px;
          height: 32px;
          border-radius: 50px;
          background-color: $brown-border-color;
          text-align: center;
          color: $white-color;
        }
      }

      &__submit {
        width: 432px;
        height: 48px;
        display: flex;
        justify-content: center;

        &__button {
          all: unset;
          width: 100%;
          border-radius: 40px;
          background-color: $brown-border-color;
          color: $white-color;

          font-size: 18px;
          font-weight: 500;
          line-height: 21.09px;
          letter-spacing: 0.75px;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;

        }
      }
    }
  }
}
@media (max-width: 768px) {
  .modal_container{
    width: 100vw;
    &__modal {
      width: 100%;
      height: 100vh;

      &__container_img {
        width: 100%;
        height: auto;
      }

      &__container_title {
        height: auto;
        &__title {
          width: 100%;

          h1{
            margin-left: 1rem;
          }

          p{
            margin-left: 1rem;
            margin-right: 1rem;
          }
        }
      }

      &__container_title_options{
        height: auto;
        margin-top: .5rem;
      }
      &__container_meet {
        height: auto;
        margin-top: .5rem;

        &__meet {
          width: 100%;
          justify-content: space-between;
          margin: 0px 1rem;
        }
      }

      &__container_actions{
        &__submit{
          width: 100%;
        }
      }
    }
  }
}