$white-color: #ffffff;
$overlay-color: #000000A6;
$background-white-color: #eeeeee;
$gray-color: #8a94a4;
$placeholder-color: #2c2c2c;
$icon-white-color: #dadada;
$background-white-gray-color: #f8f9fa;
$shadow-color: #00000024;
$brown-border-color: #4f372f;
$text-main-color: #121212;
$text-secondary-color: #464646;
$description-gray-color: #5f5f5f;
$error-color: red;