@use 'colors' as *;

.container_modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: $overlay-color;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.body {
  width: 100%;
  margin-top: 3.5rem;
  background-color: $background-white-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__search_container {
    width: 1024px;
    height: 56px;
    margin-top: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    border-radius: 8px;
    border: 1px solid $gray-color;
    background-color: $white-color;

    &__search {
      width: 1024px;
      height: 44px;
      background-color: transparent;
      border: none;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;

      &::placeholder {
        color: $placeholder-color;
      }

      &:focus {
        outline: none;
        border: none;
      }
    }

    &__icon_container {
      width: 48px;
      display: flex;
      align-items: center;
      justify-content: center;

      &__icon {
        width: auto;
        height: 19.71px;
        color: $icon-white-color;
      }
    }

    &__background {
      width: 944px;
      height: auto;
      background-color: $background-white-gray-color;
      padding: 32px 40px 32px 40px;
      gap: 24px;
      margin-top: 0.5rem;
      display: flex;

      &__items {
        width: 600px;
        height: auto;
        background: $white-color;
        box-shadow: 0px 2px 14px 0px $shadow-color;

        &__menu {
          display: flex;
          gap: 1rem;
          width: auto;
          height: 190px;

          &__content_card {
            width: 104px;
            height: 146px;
            border-bottom: 1px solid $brown-border-color;
            margin-top: 20px;
            margin-bottom: 24px;

            &:first-child {
              margin-left: 16px;
            }

            &__content_img {
              width: 100%;
              height: 82px;
              display: flex;
              justify-content: center;
              box-sizing: border-box;

              &__img {
                width: 82px;
                height: 82px;
                border-radius: 50%;
                object-fit: cover;
                border: 3px solid $brown-border-color;
              }
            }

            &__content_text {
              width: 100%;
              height: 62px;
              display: flex;
              justify-content: center;
              align-items: center;

              h2 {
                color: $text-main-color;
                font-size: 16px;
                font-weight: 600;
                line-height: 18.75px;
                letter-spacing: 0.5px;
                text-align: center;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
              }
            }
          }
        }

        &__burgers {
          width: 100%;
          height: 72px;

          &__details {
            width: 100%;
            height: 100%;

            &__menu_option {
              min-height: 117px;
              display: flex;
              justify-content: center;
              padding: 10px 0;

              &__burgers {
                display: flex;
                flex-direction: column;
                gap: 16px;

                &__container {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  width: 568px;
                  height: 85px;
                  gap: 16px;

                  &__menu_image {
                    width: 128px;
                    height: 85px;
                    gap: 10px;
                    border-radius: 4px 0px 0px 0px;
                    opacity: 0px;

                    img {
                      width: 100%;
                      height: 100%;
                      border-radius: 8px;
                    }
                  }

                  &__menu_info {
                    max-width: 424px;
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    &__info {
                      display: flex;
                      gap: 0.5rem;

                      &__amount {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 18px;
                        height: 18px;
                        background-color: $brown-border-color;
                        border-radius: 4px;
                        color: white;
                      }

                      h3 {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 18.75px;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                      }
                    }

                    p {
                      color: $text-secondary-color;
                      font-size: 16px;
                      font-weight: 300;
                      line-height: 18.75px;
                      text-align: left;
                      text-underline-position: from-font;
                      text-decoration-skip-ink: none;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                    }

                    span {
                      color: $text-secondary-color;
                      font-size: 16px;
                      font-weight: 500;
                      line-height: 18.75px;
                      letter-spacing: 0.5px;
                      text-align: left;
                      text-underline-position: from-font;
                      text-decoration-skip-ink: none;
                    }
                  }
                }
              }
            }

            &[open] {
              summary::after {
                transform: rotate(270deg);
              }
            }
          }

          summary {
            height: 28px;
            width: calc(100% - 32px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 16px;

            font-family: Roboto;
            font-size: 24px;
            font-weight: 500;
            line-height: 28.13px;
            letter-spacing: 0.5px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            padding-top: 32px;
          }

          summary::after {
            content: ">";
            margin-left: 10px;
            cursor: pointer;
            transform: rotate(90deg);
            transition: transform 0.3s;
          }

          &__title {
            color: $text-main-color;
            font-size: 24px;
            font-weight: 500;
            line-height: 28.13px;
            letter-spacing: 0.5px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
          }
        }

        &__drinks {
          transition: margin-top 0.3s ease;
          margin-bottom: 2rem;

          &__details {
            width: 100%;
            height: 100%;

            &__menu_option {
              min-height: 117px;
              display: flex;
              justify-content: center;
              padding: 10px 0;

              &__drink {
                display: flex;
                flex-direction: column;
                gap: 16px;

                &__container {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  width: 568px;
                  height: 85px;
                  gap: 16px;

                  &__menu_info {
                    max-width: 424px;
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    h3 {
                      font-size: 16px;
                      font-weight: 500;
                      line-height: 18.75px;
                      text-align: left;
                      text-underline-position: from-font;
                      text-decoration-skip-ink: none;
                    }

                    p {
                      color: $text-secondary-color;
                      font-size: 16px;
                      font-weight: 300;
                      line-height: 18.75px;
                      text-align: left;
                      text-underline-position: from-font;
                      text-decoration-skip-ink: none;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                    }

                    span {
                      color: $text-secondary-color;
                      font-size: 16px;
                      font-weight: 500;
                      line-height: 18.75px;
                      letter-spacing: 0.5px;
                      text-align: left;
                      text-underline-position: from-font;
                      text-decoration-skip-ink: none;
                    }
                  }
                }
              }
            }

            &[open] {
              summary::after {
                transform: rotate(270deg); /* Ãcone ao abrir */
              }
            }
          }

          summary {
            height: 28px;
            width: calc(100% - 32px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 16px;

            font-family: Roboto;
            font-size: 24px;
            font-weight: 500;
            line-height: 28.13px;
            letter-spacing: 0.5px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            padding-top: 32px;
          }

          summary::after {
            content: ">";
            margin-left: 10px;
            cursor: pointer;
            transform: rotate(90deg);
            transition: transform 0.3s;
          }

          &__title {
            color: $text-main-color;
            font-size: 24px;
            font-weight: 500;
            line-height: 28.13px;
            letter-spacing: 0.5px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
          }

          &.detail_active {
            margin-top: 186px;
            transition: margin-top 0.3s ease;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .body {
    &__search_container {
      width: 88%;
      box-sizing: border-box;

      &__search {
        width: 100%;
      }

      &__background {
        flex-direction: column;
        width: 100%;
        align-items: center;

        &__items {
          width: 100%;

          &__burgers {
            &__details {
              width: 98%;
              &__menu_option {
                &__burgers {
                  &__container {
                    width: 100%;
                    &__menu_info {
                      max-width: 217px;
                    }
                  }
                }
              }
            }
          }

          &__drinks {
            &__details {
              width: 98%;

              &__menu_option {
                &__drink{
                  width: 100%;
                  &__container {
                    width: 100%;
                    margin-left: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
